@import "~bootstrap/less/bootstrap";

@container-bg: #eef;

// Bootstrap overrides
@body-bg: #0ef;
@text-color: #000;
@font-family-sans-serif: "Lato", Helvetica, Arial, sans-serif;
@nav-tabs-active-link-hover-bg: @container-bg;

body {
	background-image: linear-gradient(90deg, #0ac, @body-bg);
}

#main-section {
	padding-top: 50px;
	background-color: @container-bg;
	border-radius: 18px;
}

#brand-img {
	float: left;
	padding-right: 4px;
}

.tab-pane {
	margin-top: 12px;
}
