@import "./bootstrap/bootstrap";
@import "./tags.less";
@import "./sliders.less";

@container-bg: #eef;

// Bootstrap overrides
@body-bg: #0ef;
@text-color: #000;
@font-family-sans-serif: "Lato", Helvetica, Arial, sans-serif;
@nav-tabs-active-link-hover-bg: @container-bg;

body {
	background-color: darkblue;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

#main-section {
	padding: 50px 15px 15px 15px;
	background-color: @container-bg;
	border-radius: 18px;
}

#brand-img {
	float: left;
	padding-right: 4px;
}

@global-error-bar-height: @navbar-height - 5;

#global-error-bar {
	position: fixed;
	top: @navbar-height;
	height: @global-error-bar-height;
	width: 100%;
	z-index: 10000;
}

#global-error-message {
	height: @global-error-bar-height;
	float: left;
}

#global-error-header {
	margin: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

#global-error-close {
	height: @global-error-bar-height;
	float: right;
	padding-right: 7px;
}

#global-error-close a {
	color: black;
	margin: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

#global-error-shim {
	height: @global-error-bar-height;
}

.global-error-error {
	background-color: @state-danger-bg;
}

.global-error-success {
	background-color: @state-info-bg;
}

div#logs-list {
	padding-top: 12px;
}

.tab-pane {
	margin-top: 12px;
}
