@import "~bootstrap/less/bootstrap";

@body-bg: #0ef;
@text-color: #000;
body {
	background-image: linear-gradient(90deg, #0ac, #0ef);
}

#main-section {
	margin-top: 50px;
}

.tab-pane {
	margin-top: 12px;
}
